@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  /* src: url('assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'); */
  /* src: url('./fonts/MyCustomFont-Regular.ttf') format('truetype'); */
  /* Add more src declarations for additional font formats if necessary */
  /* For example:
     src: url('./fonts/MyCustomFont-Regular.woff2') format('woff2'),
          url('./fonts/MyCustomFont-Regular.woff') format('woff'),
          url('./fonts/MyCustomFont-Regular.eot') format('embedded-opentype'); */
}
:root {
  font-family: Montserrat, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Use the font-family in your styles as needed */
.montserrat-text {
  font-family: 'Montserrat', sans-serif;
}