/* For webkit-based browsers */
::-webkit-scrollbar {
  height: 0; /* Adjust as needed */
}

.about {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 100px 50px;
    overflow-wrap: normal;
}

.about-container {
  display: flex;
  padding: 100px 0;
  width: 300vw;
}

.about-container section {
  width: 100vw;
}

.about-content {
    width: 60%;
    color: #f3f3f3;
    margin-left: 100px;
    margin-top: 80px;
}

.about .circle1, .about .circle2 {
  background-color: #111089;
}

.about .circle1 {
  height: 1164px;
  width: 1164px;
  border-radius: 50%;
  position: absolute;
  left: -150px;
  top: -150px;
  z-index: -1;
}

.about .circle2 {
  height: 333px;
  width: 333px;
  border-radius: 50%;
  position: absolute;
  right: 500px;
  bottom: -180px;
}

.about-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-side .arrow-right {
    position: absolute;
    top: -100px;
    right: 100px;
}

.about-side .arrow-right svg {
    height: 200px;
}

.about-side .blockchain {
    position: absolute;
    top: 150px;
    right: 0;
}

.about-side .blockchain img {
    height: 510px;
    width: auto;
}

.about-content h1 {
    font-size: 64px;
    font-weight: 600;
}

.about-content p {
    font-size: 36px;
    width: 70%;
}

.about-ojt-dost {
  border: solid 1px #000;
  margin-left: 50px;
  width: 80vw;
}

.about-ojt-dost .title h1 {
  font-size: 64px;
  text-align: center;
}

.about-ojt-dost .contents {
  display: flex;
}

.about-ojt-dost .title-div {
  width: 615px;
  padding: 0 50px;
}

.about-ojt-dost .title-div p {
  font-size: 36px;
}

.about-ojt-dost .contents img {
  padding-top: 50px;
  width: 761px;
  height: auto;
}

.about .next {
  display: flex;
  align-items: flex-end;
  color: red;
  height: 500vh;
}