.about {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-wrap: normal;
}

.about-container {
  display: flex;
  padding: 100px 0;
  width: 300vw;
  margin: 100px 0px;

}

.about-container section {
  width: 100vw;
}

.about-content {
  width: 60%;
  color: #f3f3f3;
  margin-left: 100px;
  margin-top: 80px;
}

.about .circle1, .about .circle2 {
  background-image: url(https://res.cloudinary.com/dxnta6ljp/image/upload/f_auto,q_auto/v1/Portfolio/lvtubkdyrnuklmd9nxse);
  background-color: #111089;
  background-blend-mode: soft-light;
}

.about .circle1 {
  height: 1164px;
  width: 1164px;
  border-radius: 50%;
  position: absolute;
  left: -150px;
  top: -150px;
  z-index: -1;
}

.about .circle2 {
  height: 333px;
  width: 333px;
  border-radius: 50%;
  position: absolute;
  right: 500px;
  bottom: -180px;
}

.about-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-side .arrow-right {
    position: absolute;
    top: -100px;
    right: 100px;
}

.about-side .arrow-right svg {
    height: 200px;
}

.about-side .blockchain {
    position: absolute;
    top: 150px;
    right: 0;
}

.about-side .blockchain img {
    height: 510px;
    width: auto;
}

.about-content h1 {
    font-size: 64px;
    font-weight: 600;
}

.about-content p {
    font-size: 36px;
    width: 70%;
}

.about-ojt-dost {
  border: solid 1px #000;
  margin-left: 100px;
  width: 90vw;
}

.about-ojt-dost .title h1 {
  font-size: 64px;
  text-align: center;
  padding: 25px;
}

.about-ojt-dost .contents {
  display: flex;
  justify-content: center;
}

.about-ojt-dost .title-div {
  width: 615px;
  padding: 50px;
}

.about-ojt-dost .title-div p {
  font-size: 36px;
}

.about-ojt-dost .contents img {
  padding-top: 50px;
  width: 761px;
  height: auto;
}

.about .technologies-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 400vh;
  width: 100%;
}

.technologies-section .technologies-header {
  width: 100%;
}

.technologies-section .technologies-header h1 {
  text-align: center;
  font-size: 64px;
  padding: 75px 0;
}

.technologies-section .technologies-content {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 48px;
}

.technologies-section .tech-div {
  height: 100px;
  width: 100%;
  background-image: url(https://res.cloudinary.com/dxnta6ljp/image/upload/f_auto,q_auto/v1/Portfolio/lvtubkdyrnuklmd9nxse);
  background-color: #111089;
  background-blend-mode: soft-light;
  display: flex;
  justify-content: space-around;
  column-gap: 24px;
  padding: 24px;
  margin: 24px 0 64px 0;
}

.technologies-section .tech-div span svg {
  cursor: pointer;
  height: 90px;
  width: auto;
}

.technologies-section .tech-div span svg path {
  fill: #F3F3F3;
}