.navbar {
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 0 90px;
}

.navbar span #nav-logo {
    height: 130px;
    cursor: pointer;
    margin-top: 10px;
}

.navbar .navbar-nav {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar .navbar-nav li a {
    text-decoration: none;
    font-size: xx-large;
    padding: 0 20px;
    border: 1px solid #1B1B1B;
    border-radius: 5px;
    color: #1B1B1B;
    margin: 0 10px;
}

.navbar .navbar-nav li a:hover {
    background-color: #c5c5c5;
}

.menu-icon {
    height: 36px;
    width: 36px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.menu-icon svg {
    height: 36px;
    width: 36px;
}

/* @media (min-width: 1440px) { ... }
 
@media (max-width: 1200px) and (max-width: 1439px) { ... }
 
@media (max-width: 1024px) { ... }

*/

@media (max-width: 1024px) {
    .home {
        position: relative;
    }
    .navbar {
        height: 100px;
        width: 90%;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar span #nav-logo {
        height: 70px;
        margin-top: 0;
    }
    
    .navbar .navbar-nav {
        display: none;
    }

    .navbar span {
        z-index: 2;
    }

    .navbar .navbar-nav-mobile {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #111089;
        height: 100%;
        width: 100%;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    .navbar .navbar-nav-mobile li {
        list-style: none;
        border: 1px solid white;
        width: 75%;
        padding: 10px 0;
        cursor: pointer;
        text-align: center;
    }

    .navbar .navbar-nav-mobile li a {
        color: #f3f3f3;
        text-decoration: none;
        font-size: 24px;
    }
    
    .menu-icon {
        display: flex;
    }
}