.navbar {
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 0 90px;
}

.navbar span #nav-logo {
    height: 130px;
    cursor: pointer;
    margin-top: 10px;
}

.navbar .navbar-nav {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar .navbar-nav li a {
    text-decoration: none;
    font-size: xx-large;
    padding: 0 20px;
    border: 1px solid #1B1B1B;
    border-radius: 5px;
    color: #1B1B1B;
    margin: 0 10px;
}

.navbar .navbar-nav li a:hover {
    background-color: #c5c5c5;
}

/* @media (min-width: 1440px) { ... }
 
@media (max-width: 1200px) and (max-width: 1439px) { ... }
 
@media (max-width: 1024px) { ... }

@media (max-width: 640px) {...}

*/
 
@media (max-width: 640px) {
    .navbar {
        height: 100px;
        padding: 0 30px;
    }
    
    .navbar span #nav-logo {
        height: 90px;
        margin-top: 0;
    }
    
    .navbar .navbar-nav {
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
    
    .navbar .navbar-nav li a {
        text-decoration: none;
        font-size: x-large;
        padding: 0 10px;
        margin: 0 5px;
    }
    
    .navbar .navbar-nav li a:hover {
        background-color: #c5c5c5;
    }
}