.presentation {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-wrap: normal;
    background-image: url(https://res.cloudinary.com/dxnta6ljp/image/upload/f_auto,q_auto/v1/Portfolio/lvtubkdyrnuklmd9nxse);
    background-color: #111089;
    background-blend-mode: soft-light;
}

.p-title {
    color: #f3f3f3;
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
}

.p-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}

.p-content-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
    text-align: justify;
}

.p-content-list li h2 {
    font-size: 32px;
    color: #f3f3f3;
    text-transform: uppercase;
}

.p-content-list li p {
    font-size: 24px;
    color: #f3f3f3;
}

.p-content-quote {
    color: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    border: 1px solid #f3f3f3;
    border-radius: 25px;
}

@media (max-width: 1024px) {
    .p-title {
        font-size: 30px;
    }
    .p-content {
        width: 80%;
    }
    .p-content-list {
        flex-direction: column;
        row-gap: 25px;
    }
    .p-content-list li h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .p-content-list li p {
        font-size: 18px;
    }
    .p-content-quote {
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .p-content-quote {
        padding: 10px;
    }
}